# https://editorconfig.org/
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
tab_width = 4

# CSharp
[*.cs]
trim_trailing_whitespace = true
insert_final_newline = true

# CSharp project
[*.{csproj,props,targets}]
trim_trailing_whitespace = true
insert_final_newline = true
